*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: #1d273b;
}

.container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.another-container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.title{
    font-size: 50px;
}

h1{
    font-size: 50px;
}

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

header{
    height: 100vh;
    background: #aa4b6b;  
    background: -webkit-linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/Potosi1.jpg);
    background: url(../img/Potosi1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    z-index: 100;
   
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    height: 80px;
   
}

.nav .logo img{
    height: 50%;
    vertical-align: top;
   
    
}

.links-header{
    font-weight: 300;
    transition: ease-in-out 0.5s
    
}

.nav .links-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}


.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.content-header > img{
    width: 510px;
    animation: ease-in animationimg 1s;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.text-header{
    margin: 0,0,0, 10px;
}

.text-header>h1{
    margin-top: -30px;
    padding-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#name{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.content-header{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}

.content-header a{
    background: red;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#b86ac0;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);
}


.movie-us{
    background-color:rgba(250, 18, 10, 0.096);
}

.container-movies{
    display:flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.movies{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.movies:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.movies > img{
    width: 100%;
    height: 120px;
    margin: auto;
}


.movies > h3{
    font-size: 25px;
    margin-top: 30px;
}


.movies > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.movies > a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}


.nigth{
    margin-top: 20px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.nigth>img{
    width: 600px;
    animation: ease-in animationimg 1s;
}

.text-nigth{
    margin: 0 0 0 30px;
}
.text-nigth img{
    background: 30px;
}

.text-nigth p {
    font-weight: 100;
    margin-top: 15px;
    color: #5d6678;
}

.text-nigth a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #f88a8a;
    text-align: center;
    color:#fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgb(10 217 219 / 0.45)
}

.price{
    background:rgb(252, 15, 15);
    padding-top: 30px;
}

.content-price{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.price-text{
    width: 40%;
}


.price-text h4{
    color: #fff;
    font-size: 40px;
}

.price-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.price-text a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    width: 120px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}


.content-footer a:hover{
    color:#08c3c3
}


.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #08c3c3;
    border: 1px solid #08c3c3;
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #08c3c3;
    border-color: #08c3c3;
}
.history h2{
        padding-top: 10px; 
        color:rgb(16, 15, 48);
}
.history p{
    padding-bottom: 10px;
    text-align: justify;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}